<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	<title>Programa Darcy Ribeiro</title>

	<link rel="stylesheet" href="../../public/assets/css/bootstrap.cosmo.min.css">
	<link rel="stylesheet" href="../../public/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../public/assets/css/style.css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="../../public/assets/css/font-awesome-ie7.css">
	<![endif]-->
</head>
<body>

	<div class="container">
		<div class="page-header">
			<a href="/respect/public/index.php/"><h1>Avaliação Programa Darcy Ribeiro</h1></a>
			<br />
			<h4>Clique em uma das opções para ter acesso aos formulários de avaliação</h4>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
			<a href="coordenador" class="btn btn-app btn-lg btn-primary">
				<span class="icon-briefcase"></span> Coordenadores
			</a>
			</div>

			<div class="col-md-2 col-md-offset-2">
				<a href="professor" class="btn btn-app btn-lg btn-info">
					<span class="icon-user"></span> Professores
				</a>
			</div>

			<div class="col-md-2 col-md-offset-2">
				<a href="aluno" class="btn btn-app btn-lg btn-warning">
					<span class="icon-book"></span> Alunos
				</a>
			</div>
		</div>
	</div>
</body>
</html>